.knowUs_grid_container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  align-items: center;
  margin-bottom: 3rem;
  padding: 5rem;
  .right_container {
    @include flex(column, 1rem);
    align-items: flex-start;
    h1 {
      @include title($blue);
      text-align: left !important;
    }
    h2 {
      @include title($yellow, $xs);
    }
  }
  .left_container {
    justify-self: center;
    align-self: center;

    img {
      position: relative;
      z-index: 1;
    }
    .yt {
      position: relative;
      z-index: 2;
      iframe {
        border-radius: $medium_radius;
        margin-bottom: -37rem;
        margin-left: 3.5rem;
        height: 24.5rem;
        width: 44rem;
      }
    }
  }
}
@include xxm {
  .knowUs_grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    margin-bottom: 10rem;
    margin-top: -5rem;
    gap: 1rem;
    justify-items: center;
    .right_container {
      grid-row: 1;
    }
    .left_container {
      height: fit-content;
      .videoYoutube {
        position: relative;
      }
      img {
        margin-top: -7rem !important;
        height: 60rem;
        width: 60rem;
        margin: 0 auto;
      }
      iframe {
        position: absolute;
        width: 70%;
        height: 26rem;
        top: 13rem;
      }
    }
  }
}
@include xm {
  .knowUs_grid_container {
    margin-bottom: 5rem;
    .left_container {
      height: fit-content;
      .videoYoutube {
        position: relative;
      }
      img {
        height: 40rem;
        width: 40rem;
        margin: 0 auto;
      }
      iframe {
        position: absolute;
        width: 67% !important;
        height: 19rem !important;
        top: 6rem !important;
      }
    }
  }
}

@include sm {
  .knowUs_grid_container {
    margin: 4rem 0;
    gap: 3rem;
    padding: 1rem;
    .left_container {
      img {
        height: 25rem;
        width: 25rem;
        margin: 0 auto;
      }
      iframe {
        position: absolute;
        width: 70% !important;
        height: 12rem !important;
        top: 1rem !important;
        right: 6rem !important;
      }
    }
  }
}
@include xxs {
  .knowUs_grid_container {
    margin: 3rem 0;
    .left_container {
      img {
        height: 17rem !important;
        width: 17rem !important;
      }
      iframe {
        position: absolute;
        width: 75% !important ;
        height: 8rem !important;
        top: -1.5rem !important;
        right: 3.5rem !important;
        button {
          width: 50% !important;
        }
      }
    }
  }
}
