.bootcamps_container {
  @include flex(column, 2rem);
  background-color: $background_blue;
  border-radius: $large_radius;
  margin-top: 10rem;
  overflow: hidden;
  h1 {
    @include title($blue);
    margin-top: 3rem;
  }
  .bootcamps {
    @include flex(column);
  }
  .main_content {
    display: grid;
    grid-template-columns: auto 50%;
    justify-items: flex-end;
    align-items: center;
    padding: 0 3rem;
    img {
      width: 100%;
    }
    h2 {
      @include title($blue, $xs);
      font-weight: $large_wight;
    }
    .info_container {
      @include flex(column, 2rem);
      align-items: flex-start;
      .info {
        display: grid;
        grid-template-columns: 30% auto;
        grid-row: 10% auto;
        width: 100%;
        img {
          grid-row: 1 / span 2;
          justify-self: flex-end;
          width: auto;
        }
        div {
          @include flex(column, 1rem);
          align-items: flex-start;
          grid-row: 1 / span 2;
          padding: 1rem 0;
          p {
            font-weight: $base_wight;
          }
        }
      }
    }
  }
}

@include xm {
  .bootcamps_container {
    .main_content {
      @include flex(column-reverse, 4rem);
      .info_container {
        order: 1;
      }
    }
  }
}
@include md {
  .bootcamps_container {
    .main_content {
      h2 {
        @include title($blue, $s);
      }
      .info {
        img {
          width: 70%;
        }
      }
    }
  }
}
