.events {
  @include flex(column);
  border-radius: $large_radius;
  background-color: $background_blue;
  padding: 0 2rem;
  h1 {
    @include title($blue);
    margin: 3rem auto;
    margin-bottom: 4rem;
  }
  .btn_arrows_container {
    @include flex(row, 0.5rem);
    justify-content: flex-end;
    width: 100%;
    margin-right: 5rem;
    margin-bottom: 1.5rem;
    margin-top: -5.5rem;
    label {
      cursor: pointer;
    }
  }
  button {
    @include font;
    @include button($yellow, $brown, $yellow, 3.5rem, 17.5rem);
    color: white;
    z-index: 2;
    margin-bottom: 2rem;
    margin: 4rem 0;
  }
}

@include xl {
  .events {
    overflow: scroll;
  }
}
@include md {
  .events {
    .btn_arrows_container {
      display: none;
    }
  }
}
@include xxs {
  .events {
    button {
      width: 12.5rem ;
      margin: 2rem 0;
    }
  }
}
