.navBar {
  @include flex;
  justify-content: space-between;
  background-color: transparent;
  margin: 2rem auto;
  z-index: 2;
  font-size: $s;
  img {
    height: 3.75rem;
  }
  .nav_btn {
    @include font;
    @include button(transparent, $grey, $lighter_blue, 3rem);
    margin-right: -2rem;
    color: white;
  }
  .menu_img {
    display: none;
    z-index: 2;
  }
  .menu {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 95%;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
  }
  .navBtn {
    &:hover {
      font-weight: ($large_wight);
    }
    label {
      cursor: pointer;
    }
  }
  .navMenu {
    color: white;
    @include flex(row, 4rem);
    @include font;
    font-weight: $base_wight;
    letter-spacing: -0.54px;
    z-index: 2;
  }
  .navFlag {
    @include flex;
    font-weight: $base_wight;
    z-index: 2;
    color: white;

    .flag {
      height: 3rem;
    }
    .vector {
      height: 1rem;
      width: 1rem;
      margin-right: 2rem;
      margin-left: 0.2rem;
    }
    p {
      font-size: math.div($s, 1.5);
    }
  }
}
@include xxl {
  .navBar {
    .navMenu {
      margin-left: auto;
      margin-right: 10rem;
    }
  }
}
@include lg {
  .navBar {
    padding: 0;
    .navMenu,
    .navFlag {
      display: none;
    }
    .menu_img {
      display: block;
    }
  }
}@include xm{
  .navBar {
    img {
      height: 2.75rem !important;
    }
  }
}
@include sm {
  .navBar {
    img {
      height: 2.5rem !important;
    }
  }
}

@include xxm {
  .navBar {
    .navMenu {
      margin-right: 5rem;
      margin-left: auto;
    }
  }
}
