.advantages_grid_container {
  display: grid;
  grid-template-columns: 10% 39% 2% 39% 10%;
  grid-template-rows: auto;
  margin-top: 10rem;
  background-color: $background_blue;
  border-radius: $large_radius;
  hr {
    width: 0.5rem;
    height: 80%;
    align-self: center;
    background-color: $lighter_blue;
    border-radius: $large_radius;
  }
  img {
    margin-top: 2rem;
  }
  .thumbs_up {
    height: 20rem;
  }
  .thumbs_down {
    justify-self: flex-end;
    height: 11rem;
  }
  .left_container {
    h1 {
      @include title($blue);
    }
  }
  .right_container {
    h1 {
      @include title($yellow);
    }
  }
  .right_container,
  .left_container {
    @include flex(column, 3rem);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem;
    div {
      justify-self: flex-start;
    }
    h1 {
      @include font(200%, $medium_wight);
    }
    .adv_container {
      display: grid;
      grid-template-columns: 10% auto;
      grid-template-rows: 10rem;
      gap: 1rem;
      width: 100%;
      align-items: flex-start !important;
      img {
        align-self: flex-start;
        margin-top: -0.1rem;
        width: 3rem;
      }
      div {
        @include font(150%, $base_wight);
        @include flex(column, 1rem);
        align-items: flex-start;
        strong {
          font-size: $s;
          font-weight: $large_wight;
        }
        p {
          font-weight: $medium_wight;
        }
      }
    }
  }
}

@include lg {
  .advantages_grid_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 2% auto;
    align-content: center;
    gap: 0;
    hr {
      width: 80%;
      height: 0.5rem;
      justify-self: center;
    }
    .thumbs_down,
    .thumbs_up {
      display: none;
    }
    .adv_container {
      align-items: center;
      gap: 0;
    }
    .right_container,
    .left_container {
      div {
        width: 80%;
      }
    }
  }
}
@include md {
  .advantages_grid_container {
    .right_container,
    .left_container {
      div {
        width: 100%;
      }
    }
  }
}
@include xsm {
  .advantages_grid_container {
    .left_container,
    .right_container {
      padding: 0.25rem !important;
    }
  }
}
@include xxs {
  .advantages_grid_container {
    .left_container,
    .right_container {
      font-size: 0.8rem !important;
      h1 {
        margin-top: 2rem;
      }
      strong {
        font-size: $xxs !important;
      }
      img {
        height: 2rem;
      }
      .adv_container {
        gap: 1.5rem;
      }
    }
  }
}
