.main {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 30% auto;
  gap: 6rem;
  margin-bottom: 15rem;
  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 53vw;
  }
  .right_container {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .left_container {
    @include flex(column, 2rem);
    align-items: flex-start;
    grid-row: 2;
    z-index: 2;
    div {
      @include flex(column, 2rem);
      align-items: flex-start;
      @include font(195%);
      .blue {
        @include title($blue);
      }
      .yellow {
        @include title($yellow);
      }
    }
    button {
      @include font;
      @include button($yellow, $brown, $yellow);
      color: white;
    }
  }
}

@include lg {
  .main {
    grid-template-columns: 80% auto;
    grid-template-rows: 30% auto;
    gap: 2rem;
    .leftDiv {
      justify-content: flex-start;
      .paragraph {
        grid-row: 3;
        column-span: all;
      }
    }
  }
}
@include xxl {
  .main {
    img {
      height: 65rem;
    }
  }
}
@include xsm {
  .main {
    grid-template-columns: 90% auto;
    grid-template-rows: 10% auto;

    .left_container {
      div {
        gap: 0 !important;
      }
      .blue,
      .yellow {
        font-size: 2rem !important;
      }
    }
  }
}
@include xxs {
  .main {
    margin-bottom: 5rem !important;
    grid-template-rows: auto;
    img {
      height: 40vh !important;
      width: 69vw !important;
    }
  }
}
