@import "./BtnSwiper";
.courses {
  @include flex(column);
  margin-top: -3rem;
  width: 100%;
}
.sub_title {
  @include font(200%, $medium_wight);
  @include flex(row, 0.75rem);
  .previous_price {
    color: $yellow;
  }
  .price {
    @include title($yellow);
  }
}
@include xxs {
  .sub_title {
    flex-direction: column !important;
    p {
      overflow-wrap: break-word !important;
      font-size: 0.8rem;
    }
  }
}
