.courses {
  @include flex(column);
  margin-top: -3rem;
  width: 100%;
}
.sub_title {
  @include font(200%, $medium_wight);
  @include flex(row, 0.75rem);
  .previous_price {
    color: $yellow;
  }
  .price {
    @include title($yellow);
  }
}
//SWIPER--------------------------------------
.btn_container {
  justify-self: center;
  width: fit-content;
  width: 82vw;
  padding: 0 2rem;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper {
    width: 100%;
    height: 6rem;
    margin: 2rem 0;
  }
  label {
    @include button(white, $grey2, $lighter_blue, 2rem);
    @include flex;
    color: $blue;
    justify-content: center;
    box-shadow: 0px 6px 6px 0px $grey2;
    padding: 1rem;
  }
  .checked {
    background: $gradiant_blue;
    color: white;
  }
}
@include xxl {
  .btn_container {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}
//-------------------------------------------------
@include xxl_max {
  .btn_container {
    label {
      width: 20rem;
    }
  }
}
