.map_container {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 2rem;
  background-color: $background_blue;
  border: 2px dashed $blue;
  border-radius: $medium_radius;
  padding: 2rem;
  width: 85%;
  height: 30rem;
  margin: 7rem auto;
  iframe {
    width: 100%;
    height: 100%;
    border-radius: $medium_radius;
  }
  .right_container {
    display: grid;
    grid-template-columns: 75% auto;
    padding: 3rem 2rem;
    width: 100%;
    h1 {
      @include title($blue);
    }
    div:has(.paper_plane) {
      position: relative;
    }
    .paper_plane {
      position: absolute;
      top: -2rem;
      right: 3rem;
    }
    .main_info {
      @include flex(column, 4rem);
      justify-content: flex-start;
      align-items: flex-start;
      .main_info_bottom {
        @include flex(column, 1.5rem);
        align-items: flex-start;
        div {
          @include flex(row, 2rem);
          p {
            font-size: $s;
            font-weight: $base_wight;
            width: max-content;
          }
        }
      }
    }
  }
}
@include xxm {
  .map_container {
    margin-top: 10rem;
    height: 65rem;
    grid-template-rows: 50% auto;
    grid-template-columns: auto;
    .right_container {
      display: grid;
      grid-template-columns: 60% auto;
    }
    .left_container {
      grid-row: 2;
    }
  }
}
@include xxs {
  .map_container {
    margin-top: 10rem;
    height: 58rem !important;
    grid-template-rows: 50% auto;
    grid-template-columns: auto;
    padding: 0.75rem;
    gap: 1rem;
    iframe {
      width: 97%;
      height: 28rem;
    }
    .right_container {
      display: grid;
      width: 70vw;
      grid-template-columns: 80% auto;
      padding: 0;
      h1 {
        font-size: $xs !important;
        margin-top: 1rem;
      }
      .paper_plane {
        width: 60vw;
        height: 60vh;
        top: -3rem !important;
        right: -1rem !important;
      }
      .main_info {
        .main_info_bottom {
          div {
            gap: 0.5rem;
            width: 80vw !important;
          }
          p {
            font-size: 0.9rem !important;
            width: 50% !important;
            overflow-wrap: break-word;
          }
        }
      }
    }
    .left_container {
      grid-row: 2;
    }
  }
}
