// base layout classes
.container {
  width: 100vw;
  max-width: 92%;
  margin: 1rem auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
@include xsm{
  .container{
    margin: 0.5rem auto;
  }
}